<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ABC Badge by Thomas C. Downes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ABC Badge", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @*https://stackoverflow.com/questions/42506595/mvc5-razor-check-session-value*@

                @if (Session["UserName"] != null || Session["UserID"] != null)  
                {

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                    <li>@Html.ActionLink("Personalities", "Index", "Personality")</li>
                    <li>@Html.ActionLink("Badge Layout", "Index", "LayoutText1")</li>

                    @*<li>@Html.ActionLink("Students/Employees", "Index", "Recipient")</li>*@
                    <li>@Html.ActionLink("Students", "Index_Cfg1", "Recipient")</li>
                    <li>@Html.ActionLink("Staff", "Index_Cfg2", "Recipient")</li>

                    <li>@Html.ActionLink("Example of Badge", "Example", "Home")</li>
                    <li>@Html.ActionLink("Steps 1 and 2", "Edit", "Steps1and2")</li>

                    <li>@Html.ActionLink("Upload", "Index", "UploadBack")</li>
                    <li>@Html.ActionLink("Xml Caching", "Index", "XmlCache")</li>

                </ul>
                }
            </div>
            <div>
                @*@Html.Partial("_Menu")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ABC Badge by Thomas C. Downes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



