@model ciBadgeForWeb.Models.UserLogin

@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<h2>Please log into ABC Badge Web.</h2>

@using (Html.BeginForm("LoginPlain", "Home", FormMethod.Post))
{
    <fieldset>
        @*<legend>Please log into CI Badge Web.</legend>*@

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.UserName)</td>
                <td>@Html.TextBoxFor(a => a.UserName)</td>
                <td>@Html.ValidationMessageFor(a => a.UserName)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                    @*<br />
                    To skip the login process: <input type="submit" value="Bypass" />*@
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}

@using (Html.BeginForm("Bypass", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>To skip the login process: <input type="submit" value="Bypass" /></p>
}

