@model IEnumerable<ciBadgeForWeb.Models.Background>

@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowAll</h2>

<p>
    @Html.ActionLink("Create New / Upload Background Image", "Create")
</p>
<table class="table">
    <tr>
        <th width="415">
            Background Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/ASPX/Step4Handler.ashx?id=back&big=y&hor=y&width=400&backid=@item.Index" width="400" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Select Background", "Select", new { id = item.Index })
                @Html.ActionLink("Edit", "Edit", new { id = item.Index })
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@ |
                @Html.ActionLink("Delete", "Delete", new { id = item.Index })
            </td>
        </tr>
    }

</table>


   @*//        <body>
    //
    //    <h1>Super Upload Page</h1>
    //
    //    <p>Things to upload: </p>
    //
    //    <ol>
        //
        <li>Background Images for Badges</li>
        //
        <li>Portrait Images</li>
        //
        <li>Zipped collection of Images</li>
        //
        <li>XML files with Personality Configuration / Elements Cache</li>
        //
        <li>MDB files, especially CIBData83.mdb, for storage of data</li>
        //
        <li>Signature Image from the Topaz Signature Pad</li>
        //
        <li>Driver's License Data</li>
        //
    </ol>
    //
    //
</body>
        // </html>*@



